<h2>Your Progress so far......</h2>
<div class="row">
  <div class="col-sm-12">
    <div class="row">
                
      <div class="col-md-3" *ngFor="let prescription of prescriptions" >
        <div class="well">
          <h3 class="text-primary text-center"><span class="label label-primary">{{prescription.id}} --  {{prescription.name}}</span></h3><br>
            <h4 class="text-primary"><span class="label label-primary pull-right">{{prescription.totalDailyAmount}}</span> Total Pills to take today </h4>
            <h4 class="text-success"><span class="label label-success pull-right">{{prescription.pillTakenToday}}</span>  Taken so far </h4>
            <h4 class="text-danger"><span class="label label-danger pull-right">{{prescription.totalDailyAmount - prescription.pillTakenToday}}</span> Balance left </h4>
        </div>
        <div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar"  aria-valuemin="0" aria-valuemax="100" [style.width]="getWidth(prescription)">
    ({{prescription.pillTakenToday / prescription.totalDailyAmount * 100}})%
  </div>
</div>
        
      </div>    <!-- end of loop -->
      <div class="col-md-2">
        <div class="well">
          <h4 class="text-success"><button [class.selected]="active === true"  (click)="configModal.open($event, active)" type="button" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-plus"></span><span class="label label-primary pull-left">Add Prescription</span></button></h4>

            <button  (click)="refreshPrescriptions()" type="button" class="btn btn-info">Refresh Prescription</button>
                      

      </div>
    </div>
  

      </div><!--/row-->    
  </div><!--/col-12-->
</div><!--/row-->
<modal #configModal (confirm)="addToDashboard(prescriptionModel)">
  <span title>Add New Prescription</span>
  <div content class="mdl-card__supporting-text">
  <form action="#" *ngIf="active">

        <div class="form-group">
         <label class="dark" for="meds">Medication Name</label>
        <input  type="text" class="form-control" id="medsName" required name="meds"
          [(ngModel)]="prescriptionModel.name" #medsName="ngModel">
     </div>
      <div class="form-group">
        <label class="dark" for="dosage">Dosage</label>
        <input type="number" class="form-control" id="dosage" required [(ngModel)]="prescriptionModel.dosage" name="dosage" #dosage="ngModel">
      </div>

       <div class="form-group">
        <label class="dark" for="frequencyAmount">How many times</label>
        <input type="number" class="form-control" id="frequencyAmount" required [(ngModel)]="prescriptionModel.frequencyAmount" name="frequencyAmount" #frequencyAmount="ngModel">
      </div>
        <div class="form-group">
         <label class="dark" for="frequency">Frequency</label>
         <input  type="text" class="form-control" id="frequency" required name="frequency"
          [(ngModel)]="prescriptionModel.frequency" #frequency="ngModel" value="Daily">
        </div>
  </form>
</div>
</modal>