<h2>My Pharmacies</h2>
<div>
  <label>Pharmacy name:</label> <input #pharmacyName />
  <button (click)="add(pharmacyName.value); pharmacyName.value=''">
    Add
  </button>
</div>

<ul class="pharmacies">
    <li *ngFor="let pharmacy of pharmacies" [class.selected]="pharmacy === selectedPharmacy" (click)="onSelect(pharmacy)">
        <span class="badge">{{pharmacy.id}}</span> <span>{{pharmacy.name}}</span><button class="delete" (click)="delete(pharmacy); $event.stopPropagation()">x</button>
</li> 
        
</ul>
<div *ngIf="selectedPharmacy"><h2>{{selectedPharmacy.name | uppercase}} is my pharmacy</h2>
    <button (click)="gotoDetail()">View Details</button>
</div>