<div class="container">
<div class="container_transparent" >
     <div  [hidden]="submitted">
    <h1 class="darktext">Prescription Form</h1>
    <form *ngIf="active" (ngSubmit)="onSubmit()" #heroForm="ngForm">
     <div class="form-group darktext">
         <label for="rxname">Medication Name</label>
        <select class="form-control" id="rxname" required
          [(ngModel)]="model.rxname" name="rxname" #name="ngModel">
            <option *ngFor="let m of meds" [value]="m">{{m}}</option>
        </select>
        <div [hidden]="name.valid || name.pristine" 
             class="alert alert-danger">
          Name is required
        </div>
     </div>
      <div class="form-group darktext">
        <label for="dosage">Dosage</label>
        <input type="number" class="form-control" id="dosage" required [(ngModel)]="model.dosage" name="dosage" #dosage="ngModel">
        <div [hidden]="dosage.valid || dosage.pristine" 
             class="alert alert-danger">
          Dosage is required
        </div>
      </div>
       <div class="form-group darktext">
        <label  for="frequencyAmount">How many times</label>
        <input type="number" class="form-control" id="frequencyAmount" required [(ngModel)]="model.frequencyAmount" name="frequencyAmount" #frequencyAmount="ngModel">
       <div [hidden]="frequencyAmount.valid || frequencyAmount.pristine" 
             class="alert alert-danger">
          Amount is required
        </div>
      </div>
        <div class="form-group darktext">
         <label for="frequency">Frequency</label>
            <select class="form-control" id="frequency" required [(ngModel)]="model.frequency" name="frequency">
                <option *ngFor="let f of frequency" [value]="f">{{f}}</option>
            </select>
            
        </div>

      <button type="submit" class="btn btn-primary darktext">Submit</button>
      <button type="reset" class="btn btn-default darktext">Clear Form</button>
     <!-- <button type="button" class="btn btn-default" (click)="newPrescription()">New prescription</button> -->
     <!-- <button type="button" class="btn btn-success" (click)="addDetails()">Add Details</button> -->


    </form>
     </div>

     <div [hidden]="!submitted">
        <h2 class="darktext2">You submitted the following:</h2>
        <div class="row">
            <div class="col-xs-3 darktext2">Name</div>
            <div class="col-xs-9  pull-left darktext2">{{ model.rxname }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3 darktext2">Dosage</div>
            <div class="col-xs-9 pull-left darktext2">{{ model.dosage }}</div>
        </div>
         <div class="row">
            <div class="col-xs-3 darktext2">How many times</div>
            <div class="col-xs-9 pull-left darktext2">{{ model.frequencyAmount }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3 darktext2">Frequency</div>
            <div class="col-xs-9 pull-left darktext2">{{ model.frequency }}</div>
        </div>
  <br>
  <button class="btn btn-default" (click)="submitted=false">Edit</button>
</div>

</div>
</div>